section {
    display: block;
    width: 80%;
    margin: auto;
    height: fit-content;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section h1 {
    color: rgb(255, 115, 0);
    text-align: center;
    font-weight: bold;
    font-size: 10vh;
}


/* Seção 1 */

#secao1 {
    width: 100%;
    background-color: rgb(77, 76, 76);
}

#s1-title {
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    margin-top: 30px;
}

#s1-title h1 {
    color: #fff;
}

#s1-img img {
    opacity: .4;
    width: 100%;
    height: auto;
}


/* /Seção 1 */

#secao2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#secao2 h1 {
    margin-top: 3.5rem;
}

#imgSobreNos {
    width: 97%;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    transition: clip-path 2s;
}


/* Seção 3 */

#secao3 {
    margin-top: 2rem;
    margin-bottom: 30px;
}

#medal {
    width: 30px;
    margin-right: 15px;
}

#s3-content h1 {
    margin-bottom: 30px;
}

#s3-content p {
    font-size: 20px;
}

@-webkit-keyframes uparrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4
    }
    100% {
        -webkit-transform: translateY(-0.4em);
        opacity: 0.9
    }
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4
    }
    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.9
    }
}

.arrow {
    border-color: transparent;
    border-style: solid;
    border-width: 0 2em;
    display: block;
    margin: auto;
    height: 0;
    opacity: 0.4;
    text-indent: -9999px;
    transform-origin: 50% 50%;
    width: 0;
    margin-top: 2rem;
}

.down {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top: 2em solid rgb(255, 115, 0);
}

.down:hover {
    transition: border-top 0.3s;
    border-top: 2em solid #0a4851;
}